html {
    background-color: #ebf3f3;
}

body {    
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

header {
    background-color: #fcf5f6;
}

nav {
    justify-content: center;
}

.flex {
    display: flex;
}

a {
    text-decoration: none;
    color: #8391e3;
    font-weight: bold;
    padding: 1rem 2rem;
}

main {
    padding: 1rem 5rem;
}

.btnNewMem {
    background-color: #8391e3;
    color: white;
    border: none;
    border-radius: 5%;
    padding: 0.5rem;
}

.box {
    width: 300px;
    height: 180px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.boxes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 2rem;
    text-align: center;
}

footer {
    text-align: center;
}

.createMembership, .createUser {
    text-align: center;
    background-color: white;
    padding: 3rem;
}

.boxShadow {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.outsetBorder {
    border: none;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

::placeholder{
    color: lightgray;
}

.grey {
    color: rgb(204, 204, 204);
}

.smallText {
    font-size: 0.8rem;
}